# 1. Importing Libraries
Load all necessary libraries

In [2]:
import pandas as pd
import json
import csv
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)

# 2. Data preparation

In [3]:
review_df = pd.read_csv("review_data.csv")
print("Total number of review:", len(review_df))

user_df = pd.read_csv("user_data.csv")
print("Total number of user:", len(user_df))

# checkin_df = pd.read_csv("checkin_data.csv")
# print("Total number of checkin:", len(checkin_df))

tip_df = pd.read_csv("tip_data.csv")
print("Total number of tip:", len(tip_df))


business_df = pd.read_csv("business_data.csv")
print("Total number of business:", len(business_df))

Total number of review: 6990280

/var/folders/65/tfbhbzks1fs0pv0gc822ry700000gn/T/ipykernel_20843/235246091.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  user_df = pd.read_csv("user_data.csv")

Total number of user: 1987897
Total number of tip: 908915
Total number of business: 150346

## 2.1 Renaming of columns in review_df.csv

In [4]:
review_df = review_df.rename(columns={
    'stars': 'review_stars',
    'date': 'review_date',
    'text': 'review_text',
    'useful': 'review_useful',
    'funny': 'review_funny',
    'cool': 'review_cool'
})
review_df.head()

                review_id                 user_id             business_id  review_stars          review_date                                        review_text  review_useful  review_funny  review_cool
0  KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw           3.0  2018-07-07 22:09:11  If you decide to eat here, just be aware it is...              0             0            0
1  BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q  7ATYjTIgM3jUlt4UM3IypQ           5.0  2012-01-03 15:28:18  I've taken a lot of spin classes over the year...              1             0            1
2  saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A  YjUWPpI6HXG530lwP-fb2A           3.0  2014-02-05 20:30:30  Family diner. Had the buffet. Eclectic assortm...              0             0            0
3  AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA           5.0  2015-01-04 00:01:03  Wow!  Yummy, different,  delicious.   Our favo...              1             0            1
4  Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ           4.0  2017-01-14 20:54:15  Cute interior and owner (?) gave us tour of up...              1             0            1

## 2.2 Renaming of columns in user_df.csv

In [5]:
user_df = user_df.rename(columns={
    'name': 'user_name',
    'review_count': 'user_review_count',
    'yelping_since': 'user_yelping_since',
    'friends': 'user_friends',
    'useful': 'user_useful',
    'useful': 'user_useful',
    'funny': 'user_funny',
    'cool': 'user_cool',
    'fans': 'user_fans',
    'elite': 'user_elite',
    'average_stars': 'user_average_stars',
    'compliment_hot': 'user_compliment_hot',
    'compliment_more': 'user_compliment_more',
    'compliment_profile': 'user_compliment_profile',
    'compliment_cute': 'user_compliment_cute',
    'compliment_list': 'user_compliment_list',
    'compliment_note': 'user_compliment_note',
    'compliment_plain': 'user_compliment_plain',
    'compliment_cool': 'user_compliment_cool',
    'compliment_funny': 'user_compliment_funny',
    'compliment_writer': 'user_compliment_writer',
    'compliment_photos': 'user_compliment_photos',
})
user_df.head()

                  user_id user_name  user_review_count   user_yelping_since                                       user_friends  user_useful  user_funny  user_cool  user_fans                                         user_elite  user_average_stars  user_compliment_hot  user_compliment_more  user_compliment_profile  user_compliment_cute  user_compliment_list  user_compliment_note  user_compliment_plain  user_compliment_cool  user_compliment_funny  user_compliment_writer  user_compliment_photos
0  qVc8ODYU5SZjKXVBgXdI7w    Walker                585  2007-01-25 16:47:26  NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...         7217        1259       5994        267                                               2007                3.91                  250                    65                       55                    56                    18                   232                    844                   467                    467                     239                     180
1  j14WgRoU_-2ZE1aw1dXrJg    Daniel               4333  2009-01-25 04:35:42  ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...        43091       13066      27281       3138  2009,2010,2011,2012,2013,2014,2015,2016,2017,2...                3.74                 1145                   264                      184                   157                   251                  1847                   7054                  3131                   3131                    1521                    1946
2  2WnXYQFK0hXEoTxPtV2zvg     Steph                665  2008-07-25 10:41:00  LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...         2086        1010       1003         52                           2009,2010,2011,2012,2013                3.32                   89                    13                       10                    17                     3                    66                     96                   119                    119                      35                      18
3  SZDeASXq7o05mMNLshsdIA      Gwen                224  2005-11-29 04:38:33  enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...          512         330        299         28                                     2009,2010,2011                4.27                   24                     4                        1                     6                     2                    12                     16                    26                     26                      10                       9
4  hA5lMy-EnncsH4JoR-hFGQ     Karen                 79  2007-01-05 19:40:59  PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...           29          15          7          1                                                NaN                3.54                    1                     1                        0                     0                     0                     1                      1                     0                      0                       0                       0

## 2.3 Renaming of columns in checkin_df.csv

In [6]:
# checkin_df  = checkin_df.rename(columns={
#     'date' : 'checkin_date'
# })
# checkin_df.head()

## 2.4 Renaming of columns in tip_df.csv

In [7]:
tip_df = tip_df.rename(columns={
    'text': 'tip_text',
    'date': 'tip_date',
    'compliment_count': 'tip_compliment_count',
})
tip_df.head()

                                            tip_text             tip_date  tip_compliment_count             business_id                 user_id
0                     Avengers time with the ladies.  2012-05-18 02:17:21                     0  3uLgwr0qeCNMjKenHJwPGQ  AGNUgVwnZUey3gcPCJ76iw
1  They have lots of good deserts and tasty cuban...  2013-02-05 18:35:10                     0  QoezRbYQncpRqyrLH6Iqjg  NBN4MgHP9D3cw--SnauTkA
2             It's open even when you think it isn't  2013-08-18 00:56:08                     0  MYoRNLb5chwjQe3c_k37Gg  -copOvldyKh1qr-vzkDEvw
3                          Very decent fried chicken  2017-06-27 23:05:38                     0  hV-bABTK-glh5wj31ps_Jw  FjMQVZjSqY8syIO-53KFKw
4             Appetizers.. platter special for lunch  2012-10-06 19:43:09                     0  _uN0OudeJ3Zl_tf6nxg5ww  ld0AperBXk1h6UbqmM80zw

## 2.5 Renaming of columns in business_df.csv

In [8]:
business_df = business_df.rename(columns={
    'name' : 'business_name',
    'address' : 'business_address',
    'city' : 'business_city',
    'state' : 'business_state',
    'postal_code' : 'business_postal_code',
    'latitude' : 'business_latitude',
    'longitude' : 'business_longitude',
    'stars' : 'business_stars',
    'review_count' : 'business_review_count',
    'is_open' : 'business_is_open',
    'attributes' : 'business_attributes',
    'categories' : 'business_categories',
    'hours' : 'business_hours'
})

# 4. Merging all DataFrames into a single DataFrame

In [9]:
# Combine review_df & user_df
df = pd.merge(review_df, user_df, on='user_id', how='inner')

# Combine review_df & user_df & tip_df
df = pd.merge(df, tip_df, on=['business_id', 'user_id'], how='inner')

# Combine review_df & user_df & tip_df & business_df
df = pd.merge(df, business_df, on='business_id', how='inner')

In [10]:
print("All data columns:", df.columns.tolist())
print("Total number of columns:", len(df.columns))
print("Total number of records:", len(df))

All data columns: ['review_id', 'user_id', 'business_id', 'review_stars', 'review_date', 'review_text', 'review_useful', 'review_funny', 'review_cool', 'user_name', 'user_review_count', 'user_yelping_since', 'user_friends', 'user_useful', 'user_funny', 'user_cool', 'user_fans', 'user_elite', 'user_average_stars', 'user_compliment_hot', 'user_compliment_more', 'user_compliment_profile', 'user_compliment_cute', 'user_compliment_list', 'user_compliment_note', 'user_compliment_plain', 'user_compliment_cool', 'user_compliment_funny', 'user_compliment_writer', 'user_compliment_photos', 'tip_text', 'tip_date', 'tip_compliment_count', 'business_name', 'business_address', 'business_city', 'business_state', 'business_postal_code', 'business_latitude', 'business_longitude', 'business_stars', 'business_review_count', 'business_is_open', 'business_attributes', 'business_categories', 'business_hours']
Total number of columns: 46
Total number of records: 440640

# 5. Basic cleaning

## 5.1 Selecting the final columns

In [11]:
cleaned_df = df[["review_id", "review_stars", "review_date", "review_text", "review_useful", "review_funny", "review_cool", "user_name", "user_review_count", "user_yelping_since", "user_useful", "user_funny", "user_cool", "user_fans", "user_elite", "user_average_stars", "user_compliment_hot", "user_compliment_more", "user_compliment_profile", "user_compliment_cute", "user_compliment_list", "user_compliment_note", "user_compliment_plain", "user_compliment_cool", "user_compliment_funny", "user_compliment_writer", "user_compliment_photos", "tip_text", "tip_date", "tip_compliment_count", "business_name", "business_state", "business_stars", "business_review_count", "business_categories"]]

## 5.2 Convert timestamp to datetime objects

In [12]:
cleaned_df["review_date"] = pd.to_datetime(cleaned_df["review_date"])
cleaned_df["user_yelping_since"] = pd.to_datetime(cleaned_df["user_yelping_since"])

/var/folders/65/tfbhbzks1fs0pv0gc822ry700000gn/T/ipykernel_20843/2592436776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df["review_date"] = pd.to_datetime(cleaned_df["review_date"])
/var/folders/65/tfbhbzks1fs0pv0gc822ry700000gn/T/ipykernel_20843/2592436776.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df["user_yelping_since"] = pd.to_datetime(cleaned_df["user_yelping_since"])

## 5.3 Dropping NAs and Duplicates

In [13]:
print("Before dropping NAs:", len(cleaned_df))
cleaned_df = cleaned_df.dropna()
print("After dropping NAs:",len(cleaned_df))
cleaned_df = cleaned_df.drop_duplicates()
print("After dropping duplicates:",len(cleaned_df))

Before dropping NAs: 440640
After dropping NAs: 204768
After dropping duplicates: 204766

# Export combined DF into CSV

In [14]:
cleaned_df.to_csv('output.csv', index=False)