In [10]:
import pandas as pd 
import nltk
import gensim

In [ ]:
df = pd.read_csv('data.csv')

In [2]:
df.head()

,review_stars,review_date,review_text,review_useful,review_funny,review_cool,user_name,user_review_count,user_yelping_since,user_useful,...,user_compliment_writer,user_compliment_photos,tip_text,tip_date,tip_compliment_count,business_name,business_state,business_stars,business_review_count,business_categories
0,3.0,2014-09-10 23:19:21,Yet again.. Disappointed. Now they don't have ...,0,1,1,Alison,146,2011-12-05 22:07:12,220,...,3,0,Yum!!! Thanks for an amazing experience,2013-10-04 22:52:17,0,Keswick Tavern,PA,3.5,159,"Bars, Greek, Restaurants, Nightlife, Beer, Win..."
1,3.0,2014-09-10 23:19:21,Yet again.. Disappointed. Now they don't have ...,0,1,1,Alison,146,2011-12-05 22:07:12,220,...,3,0,Dirty martini rules,2013-12-06 23:08:00,0,Keswick Tavern,PA,3.5,159,"Bars, Greek, Restaurants, Nightlife, Beer, Win..."
2,4.0,2013-10-30 20:03:09,Ok really? When I see a bar that smells like ...,5,0,1,Alison,146,2011-12-05 22:07:12,220,...,3,0,Yum!!! Thanks for an amazing experience,2013-10-04 22:52:17,0,Keswick Tavern,PA,3.5,159,"Bars, Greek, Restaurants, Nightlife, Beer, Win..."
3,4.0,2013-10-30 20:03:09,Ok really? When I see a bar that smells like ...,5,0,1,Alison,146,2011-12-05 22:07:12,220,...,3,0,Dirty martini rules,2013-12-06 23:08:00,0,Keswick Tavern,PA,3.5,159,"Bars, Greek, Restaurants, Nightlife, Beer, Win..."
4,3.0,2013-08-08 15:11:13,The K-T is a decent place. the bartenders are...,1,1,1,Alison,146,2011-12-05 22:07:12,220,...,3,0,Yum!!! Thanks for an amazing experience,2013-10-04 22:52:17,0,Keswick Tavern,PA,3.5,159,"Bars, Greek, Restaurants, Nightlife, Beer, Win..."

In [3]:
df.describe()

,review_stars,review_useful,review_funny,review_cool,user_review_count,user_useful,user_funny,user_cool,user_fans,user_average_stars,...,user_compliment_list,user_compliment_note,user_compliment_plain,user_compliment_cool,user_compliment_funny,user_compliment_writer,user_compliment_photos,tip_compliment_count,business_stars,business_review_count
count,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,...,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000
mean,4.155156,3.469121,1.271239,2.232917,519.252320,3352.106022,1465.170154,2518.018611,111.506007,3.972096,...,4.620126,168.950188,496.677235,311.803021,311.803021,98.224503,147.876665,0.022645,3.774320,320.167131
std,1.003107,6.153980,3.404596,5.317887,629.460308,8434.210300,4744.387607,7125.458135,312.959889,0.323375,...,26.524473,617.512714,1535.804505,918.546951,918.546951,266.732767,673.250986,0.165136,0.658457,585.699030
min,1.000000,0.000000,0.000000,0.000000,3.000000,1.000000,0.000000,0.000000,0.000000,2.410000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000
25%,4.000000,1.000000,0.000000,0.000000,157.000000,269.000000,63.000000,117.000000,11.000000,3.750000,...,0.000000,9.000000,11.000000,13.000000,13.000000,7.000000,2.000000,0.000000,3.500000,46.000000
50%,4.000000,2.000000,0.000000,1.000000,319.000000,761.000000,172.000000,368.000000,29.000000,3.990000,...,0.000000,27.000000,37.000000,42.000000,42.000000,22.000000,10.000000,0.000000,4.000000,141.000000
75%,5.000000,4.000000,1.000000,2.000000,618.000000,2260.000000,778.000000,1410.000000,79.000000,4.200000,...,1.000000,89.000000,174.000000,176.000000,176.000000,70.000000,55.000000,0.000000,4.000000,360.000000
max,5.000000,360.000000,141.000000,360.000000,17473.000000,206296.000000,185823.000000,195814.000000,12497.000000,5.000000,...,2413.000000,59031.000000,101097.000000,49967.000000,49967.000000,15934.000000,56104.000000,6.000000,5.000000,7568.000000

In [5]:
# Label the data with new column where review_stars is greater than 3 is positive and less than 3 is negative and equal to 3 is neutral
df['sentiment'] = df['review_stars'].apply(lambda x: 'positive' if x > 3 else 'negative' if x < 3 else 'neutral')

In [8]:
# Preprocess the data
stop_list = nltk.corpus.stopwords.words('english')
lemmatizer = nltk.stem.WordNetLemmatizer()

# We use the following list to store the sequence of sentence labels.
labels = []

# We use the following list to store the sentences, where each sentence itself is a list of words.
corpus = []

# For every row in the data frame
for index, row in df.iterrows():
    # Extract the label and the text.
    label = row['sentiment']
    text = row['review_text']
    
    # Store the label into the list of labels.
    labels.append(label)
    
    # Tokenize the text.
    sent = nltk.word_tokenize(text)
    
    # Lowercase conversion
    sent = [w.lower() for w in sent]
    
    # Stop word removal 
    sent = [w for w in sent if w not in stop_list]
    
    # Lemmatization 
    sent = [lemmatizer.lemmatize(w) for w in sent]
    
    # Store the sentence into the corpus.
    corpus.append(sent)

print('Finished reading sentences.')

Finished reading sentences.

In [13]:
# Create a dictionary from the corpus.
dictionary = gensim.corpora.Dictionary(corpus)

# Store the labeled training data in the following list.
labeled_data = []
    
# Going through the two lists in parallel to create the labeled data set.
for (l, s) in zip(labels, corpus):

    # Convert the original sentence into a vector.
    vector = dictionary.doc2bow(s)
    
    # Create a dict object to store the document vector (in order to use NLTK's classifier later)
    sent_as_dict = {id:1 for (id, tf) in vector}
    
    # Add the labeled sentence to the labeled data set.
    labeled_data.append((sent_as_dict, l))
    
print('Finished preparing the data.')

Finished preparing the data.

In [14]:
# Train test validation split
import random
random.shuffle(labeled_data)

# Split the data into training, validation, and test sets using 60%, 20%, 20% respectively.
train_size = int(len(labeled_data) * 0.6)
val_size = int(len(labeled_data) * 0.2)
train_data = labeled_data[:train_size]
val_data = labeled_data[train_size:train_size+val_size]
test_data = labeled_data[train_size+val_size:]

print('Finished splitting the data.')

Finished splitting the data.

In [16]:
classifier = nltk.NaiveBayesClassifier.train(train_data)

In [17]:
# Evaluate the classifier on the validation set.
print('Validation accuracy:', nltk.classify.accuracy(classifier, val_data))

# Evaluate the classifier on the test set.
print('Test accuracy:', nltk.classify.accuracy(classifier, test_data))

Validation accuracy: 0.7106683271066833
Test accuracy: 0.7110242949578806