In [1]:
import pandas as pd
df = pd.read_csv('data.csv')

In [2]:
df.describe()

,review_stars,review_useful,review_funny,review_cool,user_review_count,user_useful,user_funny,user_cool,user_fans,user_average_stars,...,user_compliment_list,user_compliment_note,user_compliment_plain,user_compliment_cool,user_compliment_funny,user_compliment_writer,user_compliment_photos,tip_compliment_count,business_stars,business_review_count
count,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,...,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000,204768.000000
mean,4.155156,3.469121,1.271239,2.232917,519.252320,3352.106022,1465.170154,2518.018611,111.506007,3.972096,...,4.620126,168.950188,496.677235,311.803021,311.803021,98.224503,147.876665,0.022645,3.774320,320.167131
std,1.003107,6.153980,3.404596,5.317887,629.460308,8434.210300,4744.387607,7125.458135,312.959889,0.323375,...,26.524473,617.512714,1535.804505,918.546951,918.546951,266.732767,673.250986,0.165136,0.658457,585.699030
min,1.000000,0.000000,0.000000,0.000000,3.000000,1.000000,0.000000,0.000000,0.000000,2.410000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000
25%,4.000000,1.000000,0.000000,0.000000,157.000000,269.000000,63.000000,117.000000,11.000000,3.750000,...,0.000000,9.000000,11.000000,13.000000,13.000000,7.000000,2.000000,0.000000,3.500000,46.000000
50%,4.000000,2.000000,0.000000,1.000000,319.000000,761.000000,172.000000,368.000000,29.000000,3.990000,...,0.000000,27.000000,37.000000,42.000000,42.000000,22.000000,10.000000,0.000000,4.000000,141.000000
75%,5.000000,4.000000,1.000000,2.000000,618.000000,2260.000000,778.000000,1410.000000,79.000000,4.200000,...,1.000000,89.000000,174.000000,176.000000,176.000000,70.000000,55.000000,0.000000,4.000000,360.000000
max,5.000000,360.000000,141.000000,360.000000,17473.000000,206296.000000,185823.000000,195814.000000,12497.000000,5.000000,...,2413.000000,59031.000000,101097.000000,49967.000000,49967.000000,15934.000000,56104.000000,6.000000,5.000000,7568.000000

In [3]:
#show number of unique rows per column
df.nunique()

review_stars                    5
review_date                132547
review_text                132146
review_useful                 131
review_funny                   87
review_cool                   126
user_name                    4798
user_review_count            1517
user_yelping_since          18732
user_useful                  3350
user_funny                   2243
user_cool                    2718
user_fans                     538
user_elite                    644
user_average_stars            230
user_compliment_hot           797
user_compliment_more          247
user_compliment_profile       228
user_compliment_cute          187
user_compliment_list          126
user_compliment_note          687
user_compliment_plain        1048
user_compliment_cool         1033
user_compliment_funny        1033
user_compliment_writer        578
user_compliment_photos        662
tip_text                   154717
tip_date                   158446
tip_compliment_count            7
business_name               35191
business_state                 17
business_stars                  9
business_review_count        1158
business_categories         30388
dtype: int64

In [4]:
unique_df = df.drop_duplicates(subset='review_text')

In [5]:
unique_df.describe()

,review_stars,review_useful,review_funny,review_cool,user_review_count,user_useful,user_funny,user_cool,user_fans,user_average_stars,...,user_compliment_list,user_compliment_note,user_compliment_plain,user_compliment_cool,user_compliment_funny,user_compliment_writer,user_compliment_photos,tip_compliment_count,business_stars,business_review_count
count,132146.000000,132146.000000,132146.000000,132146.000000,132146.000000,132146.000000,132146.000000,132146.000000,132146.000000,132146.000000,...,132146.00000,132146.000000,132146.000000,132146.000000,132146.000000,132146.000000,132146.000000,132146.000000,132146.000000,132146.000000
mean,4.065133,3.380534,1.256572,2.161246,499.045321,3116.255467,1384.483041,2325.418855,98.108062,3.947896,...,4.25627,145.583037,420.245077,277.674254,277.674254,89.902048,136.291587,0.023058,3.772592,335.284920
std,1.038501,6.245595,3.479003,5.438631,645.965822,8471.550773,4860.960174,7156.704214,299.477708,0.325811,...,27.02441,613.955118,1462.576038,907.603865,907.603865,270.666968,680.871272,0.166031,0.669103,643.508385
min,1.000000,0.000000,0.000000,0.000000,3.000000,1.000000,0.000000,0.000000,0.000000,2.410000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000
25%,4.000000,1.000000,0.000000,0.000000,145.000000,237.000000,54.000000,102.000000,10.000000,3.740000,...,0.00000,8.000000,9.000000,11.000000,11.000000,6.000000,2.000000,0.000000,3.500000,43.000000
50%,4.000000,2.000000,0.000000,1.000000,283.000000,609.000000,164.000000,292.000000,25.000000,3.960000,...,0.00000,22.000000,29.000000,33.000000,33.000000,18.000000,8.000000,0.000000,4.000000,134.000000
75%,5.000000,4.000000,1.000000,2.000000,576.000000,1953.000000,646.000000,1155.000000,69.000000,4.170000,...,1.00000,74.000000,129.000000,135.000000,135.000000,60.000000,45.000000,0.000000,4.000000,351.000000
max,5.000000,360.000000,141.000000,360.000000,17473.000000,206296.000000,185823.000000,195814.000000,12497.000000,5.000000,...,2413.00000,59031.000000,101097.000000,49967.000000,49967.000000,15934.000000,56104.000000,5.000000,5.000000,7568.000000

In [6]:
unique_df.columns

Index(['review_stars', 'review_date', 'review_text', 'review_useful',
       'review_funny', 'review_cool', 'user_name', 'user_review_count',
       'user_yelping_since', 'user_useful', 'user_funny', 'user_cool',
       'user_fans', 'user_elite', 'user_average_stars', 'user_compliment_hot',
       'user_compliment_more', 'user_compliment_profile',
       'user_compliment_cute', 'user_compliment_list', 'user_compliment_note',
       'user_compliment_plain', 'user_compliment_cool',
       'user_compliment_funny', 'user_compliment_writer',
       'user_compliment_photos', 'tip_text', 'tip_date',
       'tip_compliment_count', 'business_name', 'business_state',
       'business_stars', 'business_review_count', 'business_categories'],
      dtype='object')

In [7]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [8]:
unique_df.iloc[0:10]

,review_stars,review_date,review_text,review_useful,review_funny,review_cool,user_name,user_review_count,user_yelping_since,user_useful,...,user_compliment_writer,user_compliment_photos,tip_text,tip_date,tip_compliment_count,business_name,business_state,business_stars,business_review_count,business_categories
0,3.0,2014-09-10 23:19:21,Yet again.. Disappointed. Now they don't have ...,0,1,1,Alison,146,2011-12-05 22:07:12,220,...,3,0,Yum!!! Thanks for an amazing experience,2013-10-04 22:52:17,0,Keswick Tavern,PA,3.5,159,"Bars, Greek, Restaurants, Nightlife, Beer, Win..."
2,4.0,2013-10-30 20:03:09,Ok really? When I see a bar that smells like ...,5,0,1,Alison,146,2011-12-05 22:07:12,220,...,3,0,Yum!!! Thanks for an amazing experience,2013-10-04 22:52:17,0,Keswick Tavern,PA,3.5,159,"Bars, Greek, Restaurants, Nightlife, Beer, Win..."
4,3.0,2013-08-08 15:11:13,The K-T is a decent place. the bartenders are...,1,1,1,Alison,146,2011-12-05 22:07:12,220,...,3,0,Yum!!! Thanks for an amazing experience,2013-10-04 22:52:17,0,Keswick Tavern,PA,3.5,159,"Bars, Greek, Restaurants, Nightlife, Beer, Win..."
6,3.0,2014-01-25 19:21:47,Food four stars!!!!! Bartender shorting me 10 ...,0,1,0,Alison,146,2011-12-05 22:07:12,220,...,3,0,Yum!!! Thanks for an amazing experience,2013-10-04 22:52:17,0,Keswick Tavern,PA,3.5,159,"Bars, Greek, Restaurants, Nightlife, Beer, Win..."
8,4.0,2014-01-28 17:12:32,OK they get the star back for service. Even a...,1,1,1,Alison,146,2011-12-05 22:07:12,220,...,3,0,Yum!!! Thanks for an amazing experience,2013-10-04 22:52:17,0,Keswick Tavern,PA,3.5,159,"Bars, Greek, Restaurants, Nightlife, Beer, Win..."
10,4.0,2015-06-15 23:15:05,BEST experience I have ever had at the KT on 6...,0,0,0,Alison,146,2011-12-05 22:07:12,220,...,3,0,Yum!!! Thanks for an amazing experience,2013-10-04 22:52:17,0,Keswick Tavern,PA,3.5,159,"Bars, Greek, Restaurants, Nightlife, Beer, Win..."
12,5.0,2016-02-14 01:57:27,I went here for happy hour and let me tell you...,1,0,0,Lizabeth,258,2014-07-15 20:49:46,543,...,2,18,"5 tenders, regular nachos, hummus, buff dip ar...",2018-03-30 19:59:57,0,Keswick Tavern,PA,3.5,159,"Bars, Greek, Restaurants, Nightlife, Beer, Win..."
13,2.0,2012-11-04 23:51:50,"Like a knight of the roudtable, I have been on...",0,0,0,Christopher,386,2010-12-09 22:17:27,656,...,8,5,Good craft beer selection,2012-11-04 18:40:07,0,Keswick Tavern,PA,3.5,159,"Bars, Greek, Restaurants, Nightlife, Beer, Win..."
14,5.0,2018-08-13 01:17:22,Happened to pop in here as where we wanted to ...,2,0,0,Fred,64,2014-07-17 19:14:43,101,...,3,2,Great comfort food and drinks,2019-03-04 00:11:23,0,Keswick Tavern,PA,3.5,159,"Bars, Greek, Restaurants, Nightlife, Beer, Win..."
15,3.0,2015-02-15 20:20:59,Breakfast buffet is a busy place. There's a la...,0,0,0,Debra,1332,2012-09-04 23:57:25,1660,...,49,27,Nice atmosphere. Nice people. Had the morning ...,2014-02-03 14:33:44,0,Finnegan's Pub,AZ,3.0,70,"Nightlife, Pubs, Restaurants, American (New), ..."

In [9]:
import preprocess_df
df_set = unique_df

In [10]:
corpus = preprocess_df.load_corpus(df_set, 'review_text')
docs = preprocess_df.corpus2docs(corpus)

In [11]:
import gensim
dictionary = gensim.corpora.Dictionary(docs)
vecs = preprocess_df.docs2vecs(docs, dictionary)

In [12]:
#I used 10 topics. You can try other numbers as well
lda = gensim.models.ldamodel.LdaModel(corpus=vecs, id2word=dictionary, num_topics=10)

In [13]:
topics = lda.show_topics(10, 5)

for i in range(0, 10):
    print(topics[i])

(0, '0.027*"breakfast" + 0.026*"good" + 0.023*"food" + 0.016*"place" + 0.013*"great"')
(1, '0.024*"pizza" + 0.024*"food" + 0.016*"good" + 0.015*"place" + 0.014*"great"')
(2, '0.016*"food" + 0.015*"rice" + 0.014*"chicken" + 0.012*"sushi" + 0.012*"good"')
(3, '0.023*"store" + 0.013*"always" + 0.012*"get" + 0.011*"location" + 0.011*"great"')
(4, '0.018*"chicken" + 0.016*"cheese" + 0.014*"sauce" + 0.011*"fries" + 0.010*"ordered"')
(5, '0.013*"time" + 0.010*"back" + 0.009*"us" + 0.009*"get" + 0.008*"service"')
(6, '0.011*"room" + 0.009*"place" + 0.009*"get" + 0.009*"hotel" + 0.006*"parking"')
(7, '0.021*"food" + 0.020*"great" + 0.018*"good" + 0.017*"bar" + 0.016*"place"')
(8, '0.010*"great" + 0.007*"area" + 0.006*"room" + 0.005*"well" + 0.005*"beautiful"')
(9, '0.023*"coffee" + 0.015*"ice" + 0.014*"cream" + 0.011*"tea" + 0.010*"chocolate"')